@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #2c3e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca1af, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #4ca1af,
        #2c3e50
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 0.3rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button {
    color: #1D3557;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: -3rem;
}
form button:hover  .fa-plus-square{
    color: #000;
    transition: 300ms all;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}
.filter-todo {
    padding: 1rem;
}
.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #E63946;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: rgb(11, 212, 162);
}
.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}

/* Custom Select */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    color: #1D3557;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
}
/* Arrow */
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #1D3557;
    cursor: pointer;
    pointer-events: none;
}
